body{ 	
	font-family:Arial,sans-serif;
	background:#aedcea;	
	background:white;
	margin:0;	
	padding:0;
}
a:link, a:visited{
	text-decoration: none;
	font-size:14px;
	color: white;
	text-shadow: 1px 1px black;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
a:hover{
	text-decoration: none;
	font-size:16px;
	font-weight:bold;
	color:#faa651;
	color:#aedcea;
	text-shadow: 2px 1px black;
}

.tg {		
	border-collapse:collapse;
	border-spacing:0;
}
.tg td{ 
	font-family:Arial, sans-serif; 
	font-size:14px; 
	padding:5px 0;
	border-style:solid;	
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	text-align:center;
}
.tg th{ 
	font-family:Verdana,Arial,sans-serif; 
	font-size:16px;
	font-weight:normal;
	background:#faa651;
	background:#aedcea;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	text-align:center;
}
.tg tr:nth-child(even){ 
	background:#a6a6a6;
}
.tg tr:nth-child(odd) { 
	background:#cccccc;
}
.tg .tg-d{
	font-family:Arial, sans-serif; 
	font-size:14px; 
	padding:10px 5px;
	border-style:solid;	
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	text-align:left;
}
img{		
	display:block;
	margin: 0 auto;
	width:97%;
}
img:hover{ 
	width: 100%;
}
#ulNav{ 
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#333;
}
#liNav{ 
	float: left;
	border-right: 1px solid #bbb;
}
#liNavR{ 
	display:block;
	float: right;
	text-decoration:none;
	margin: 0 auto;
	border-left: 1px solid #bbb;
	width: 48px;
	height: 48px;
}
li a, .dropbtn{ 
	display:block;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
}
.dropdown{
	display:inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-shadow:none;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
	background-color:#faa651;
	color: black;
	text-shadow: 1px 1px #aedcea;
}
.dropdown:hover .dropdown-content{
	display:block;
}
#fix{
	position:fixed;
	left:0;
	top:0;
	width:100%;
}
